<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324044558280-kbqnm9d5upfdotil84pufopfep828esv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324044558280-kbqnm9d5upfdotil84pufopfep828esv</string>
	<key>API_KEY</key>
	<string>AIzaSyCZGA-ihJqyh72ncrFc1JzQWKEimRgDMMc</string>
	<key>GCM_SENDER_ID</key>
	<string>324044558280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmacinha</string>
	<key>PROJECT_ID</key>
	<string>farmacinha-af53a</string>
	<key>STORAGE_BUCKET</key>
	<string>farmacinha-af53a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324044558280:ios:09c0809ffd2e2ffff2fafd</string>
</dict>
</plist>